body {
    height: 100%;
    margin: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
main{
    height: auto;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex:1;
}

.footer {
    background: #f1f1f1;
    height:fit-content;
    align-items:center;
    padding-left: 10%;
}