
@{
    ViewBag.Title = "KhongCoQuyen";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<div class="container-fluid text-center bg-danger text-warning" style="height:90vh;">
    <h2 class="align-content-center fw-bold text-uppercase fs-1" style="padding-top:25% ">Bạn không có quyền truy cập</h2>
</div>

